
.ebs_advanced_settings_toggle {
    cursor: pointer;
    margin-top: 4em;
    padding:0 2em 2em 0;
    display: block;
}
.ebs_advanced_settings_toggle h2 {
    position: relative;
    display: inline-block;
    margin:0;
}
.ebs_advanced_settings_toggle h2::after {
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-left:10px;
    vertical-align: top;
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
    content: "";
    transform: translateY(3px) rotate(45deg);
    transition: 0.2s;
}

.ebs_advanced_settings_toggle.active h2::after {
    transform: translateY(7px) rotate(-135deg);
}

.ebs_advanced_settings {
    display: none;
    margin-bottom: 2em;
    width:80%;
}

.ebs_advanced_settings_columns {
    justify-content: space-between;
}

.ebs_advanced_settings_column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-auto-flow: column;
}

.label_group {
    display: flex;
    flex-direction: column;
}

.wp-picker-container > .wp-picker-holder {
    position: absolute;
}
.ebs_main_colors{
display: flex;
}
/* <span> text invisible "select color" */
.wp-color-result-text {
    display: none;
}
/* Size of color fields set in main colors settings */
.ebs_main_colors > div > .wp-picker-container > button {
    height: 100px;
    width: 200px;
}
/* Size of color fields set in advanced color settings */
.wp-picker-container > button {
    height: 45px;
    width: 45px;
}
.iris-picker{
    width: 260px !important;
    height: 240px !important;
}
.iris-square {
    margin-top: 30px;
    left:10px;
}
.iris-slider {
    padding-bottom: 30px;
}
.iris-palette-container {
    left: 20px !important;
}
.iris-strip {
    height: 212px !important;
}
.wp-picker-input-wrap {
    position: relative;
    z-index: 1;
    left: 40px;
    top: 4px;
}
/*TODO: 1. Diese Option beibehalten? 2.
 evtl unnötig, aber so sind beide buttons gleich lang */
.wp-picker-default {
    padding-bottom: 2px !important;
}

.ebs_main_colors > div > label,
.ebs_advanced_settings_column > div > div > label {
    font-weight: bold;
    width:150px;
    display: inline;
    cursor:default;
    margin-top: 6px;
}
.ebs_main_colors > div{
    margin-bottom: 10px;
}
.ebs_advanced_settings_column > div {
    display: flex;
    margin-bottom: 10px;
}
.ebs_advanced_settings_column .wp-picker-container {
    vertical-align: top;
}
.ebs_main_colors .wp-picker-container button {
    margin:0 !important;
}
.ebs_submitButton {
    vertical-align: middle !important;
    margin-right: 10px !important;
}